/*
	Base Custom Styles for Food Democracy Now! Actionkit
	nicole@richiroutreach.com
	V0.1
	09/30/2014
*/


/*
	--------------------------------------------------------------------------
		Foundation CSS
	--------------------------------------------------------------------------
*/

@import "settings";
@import "foundation";


/*
	--------------------------------------------------------------------------
		Color Variables
	--------------------------------------------------------------------------
*/
$gold: #FFD302;
$green: #78B620;
$red: #C90000;
$blue: #1b6cb4;

$twitter-blue: #4099FF;
$facebook-blue: #3b5998;

$label-color: #666;

$bitcoin: #FF9900;
$paypal-bottom: #0079c1;
$paypal-top: #00a1ff;

$errorColor: #BB0011;



/*
	--------------------------------------------------------------------------
		Google Fonts
	--------------------------------------------------------------------------
*/
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);

$lato: 'Lato', sans-serif;

/*
	--------------------------------------------------------------------------
		Component SCSS
	--------------------------------------------------------------------------
*/
@import "actionkit/mixins";
@import "actionkit/base";
@import "actionkit/header";
@import "actionkit/nav";
@import "actionkit/donate";
@import "actionkit/footer";
@import "actionkit/thanks";
