/*
	Base Custom Styles for Food Democracy Now! Actionkit
	nicole@richiroutreach.com
	V0.5
	12/11/2014
*/

/*
	--------------------------------------------------------------------------
		Google Fonts
	--------------------------------------------------------------------------
*/

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here);

$lato: 'Lato', sans-serif;
$justMe: 'Just Me Again Down Here', cursive;


/*
	--------------------------------------------------------------------------
		Foundation CSS
	--------------------------------------------------------------------------
*/

@import "settings";
@import "foundation/components/visibility";

/*
	--------------------------------------------------------------------------
		Color Variables
	--------------------------------------------------------------------------
*/

$gold: #FFD302;
$green: #78B620;
//$red: #C90000;
$red: #CD3A3B;
$blue: #1B6CB4;
$petitionBG: #E0F0FC;

$twitter-blue: #4099FF;
$facebook-blue: #3b5998;

$label-color: #666;

$bitcoin: #FF9900;
$paypal-bottom: #0079c1;
$paypal-top: #00a1ff;

$errorColor: #BB0011;

$grass-left: #043A04;
$grass-right: #81D311;


/*
	--------------------------------------------------------------------------
		Component SCSS
	--------------------------------------------------------------------------
*/

@import "actionkit/mixins";
@import "actionkit/base";
@import "actionkit/header";
@import "actionkit/nav";
@import "actionkit/forms";
@import "actionkit/user_form";
@import "actionkit/petition";
@import "actionkit/donate";
@import "actionkit/footer";
@import "actionkit/thanks";
@import "actionkit/splash";
@import "actionkit/donate_splash";