{% extends "./wrapper.html" %}{% load actionkit_tags %}{% load smartif %}
<!-- @START Foundation Template/donate.html -->

{% block content %}

<script language="javascript">
//<!--
	function clear_radio_buttons() {
		$('input.amount_radio_button').attr('checked', false);
	}

	function clear_other() {
		$('#amount_other_field').val("");
	}

	var address_fields = [ 'address1', 'address2', 'city', 
		'state', 'zip' {% if page.allow_international %},'postal', 'region', 'country'{% endif %} ];

	function toggle_shipping(e) {
		for (i in address_fields) {
			field = address_fields[i];
			
			if (e.checked) {
				$('#shipping_' + field).val($('#' + field).val()||'').change();
				$('#id_shipping_state').val($('#state,#id_state').val()||'').change();
				$('#shipping_' + field).attr("readonly", true); 
			} else {
				$('#shipping_' + field).val("").change();
				$('#id_shipping_state').val("").change();
				$('#shipping_' + field).attr("readonly", false);
			}
		}

		{% if page.allow_international %}
			shipping_country_change();
		{% endif %}
	}

	function sync_to_shipping(e) {
		if (!$('#shipping_same').attr("checked"))
			return;
		
		for (i in address_fields) {
			field = address_fields[i];
			$('#shipping_' + field).val($('#' + field).val());
			$('#id_shipping_state').val($('#state,#id_state').val());
		}

		{% if page.allow_international %}
			shipping_country_change();
		{% endif %}
	}

	function update_total() {
		var total = 0.0;

		$('.ak_product_inputs').each(function (i) {
			// max == 1 produces checkboxes for these
			if (this.type == "checkbox" && !this.checked)
				return;

			// check that quantity is a valid int
			var quantity = this.value;
			
			if (quantity.length == 0 || !/^[1-9]\d*$/.test(quantity))
				return;

			// and price is a valid dollar amount
			var price = $('#' + this.id + '_price').text();

			if (price.length == 0 || !/^[1-9]\d*(\.\d\d)?$/.test(price))
				return;

			total += parseInt(quantity) * parseFloat(price);
		});

		$('.ak_candidate_inputs').each(function (i) {
			// check that amount is a valid amount
			var amount = this.value;

			if (amount.length == 0 || !/^[0-9]\d*(\.\d\d)?$/.test(amount))
				return;

			total += parseFloat(amount);
		});

		// look for checked off donation amounts
		var amount_checked = $('input:radio[name=amount]:checked').val(); 

		{% if page.custom_fields.splash_layout %}
			total = 0.0;
		{% endif %}

		if (amount_checked) {
			total += parseFloat(amount_checked);
		} else {
			// or other amounts
			var other = $('#amount_other_field').val();

			if (other && /^[0-9]\d*(\.\d{2})?$/.test(other))
				total += parseFloat(other);
		}

		// Set the amount so GA can easily get it
		$('#ga-amount').val(total.toFixed(2));

		var new_total = total == 0 ? "" : "$" + total.toFixed(2);

		if (new_total != $('#total').html()) {
			var type = $('input[name=donation_type]:checked').val();

			console.log($('input[name=donation_type]:checked').val());

			if(type == "recurring") {
				type = "Recurring Monthly";
			} else {
				type = "One-Time";
			}

			$('#total').html(new_total);

			$('#order-info-total').html(new_total);
			$('#order-info-donation-amount').html(new_total);
			$('#order-info-donation').html('Donation<br><span class="summary-donation-type">(' + type +')</span>');
		}
	}

	{% if page.allow_international %}
		function country_change() {
			country = $('#country').val();

			if (country == 'United States') {
				$('#us_billing_fields').show();
				$('#intl_billing_fields').hide();
			} else {
				$('#us_billing_fields').hide();
				$('#intl_billing_fields').show();
			}

			sync_to_shipping();
		}

		function shipping_country_change() {
			shipping_country = $('#shipping_country').val();

			if (shipping_country == 'United States') {
				$('#us_shipping_fields').show();
				$('#intl_shipping_fields').hide();
			} else {
				$('#us_shipping_fields').hide();
				$('#intl_shipping_fields').show();
			}
		}
	{% endif %}
//-->
</script>

{% with page.payment_processor_information as pp %}
	{% if pp.use_cse %}
		<script language="javascript" src="/samples/ak_braintree_cse.js"></script>
		<script language="javascript" src="https://js.braintreegateway.com/v1/braintree.js"></script>
		<script type="text/javascript">
			$(function () {
				var form = $('form#act')[0];

				clientSideEncryptionKey = "{{ pp.cse_key }}";
				braintree_cse.encryptOnSubmit(form, clientSideEncryptionKey);

				$('form#act :input[type=submit]').removeAttr('disabled');
			});

			window.onBraintreeDataLoad = function() {
				BraintreeData.setup("{{ pp.merchant_id }}", "act", BraintreeData.environments.{{ pp.braintree_environment }});
			};
		</script>
	{% endif %}

	{% if pp.use_tr %}
		<script language="javascript" src="/samples/braintree.js"></script>
	{% endif %}
{% endwith %}

{% comment %}
	/*
-------------------------------------------------------------------------------
		@START - Google Analytics Tracking
-------------------------------------------------------------------------------
	*/
{% endcomment %}
<script>
	/*
		Function to make GA events for problems during donating
	*/
	function logValidationErrors() {
		$('#ak-errors li').each(function() {
			var errorMessage = $(this).html();

			if(errorMessage.length > 0 && errorMessage != "For your security, your card number has been cleared.") {
				if(knownUser) {
					ga( 'send', 'event', 'Validation Error', '{{ user.email }}', errorMessage, {{ page.id }} );
				} else if ( $('#email').val() != "" ) {
					ga( 'send', 'event', 'Validation Error', $('#email').val(), errorMessage, {{ page.id }} );
				} else {
					ga( 'send', 'event', 'Validation Error', 'Unknown User', errorMessage, {{ page.id }} );
				}
			}
		});
	}

	$(document).ready(function() {
		// Set up tracking events on form submit
		$('#act').submit(function() {
			if( $(this).valid() ) {
				if(knownUser) {
					ga('send', 'event', 'Submission Attempt', '{{ user.email }}', 'Amount (' + $('#ga-amount').val() + ')', {{ page.id }});
					ga('send', 'event', 'Submission Attempt', '{{ user.email }}', 'Type (' + $('input[name="donation_type"]:checked').val() + ')', {{ page.id }});	
				} else if ( $('#email').val() != "" ) {
					ga('send', 'event', 'Submission Attempt', $('#email').val(), 'Amount (' + $('#ga-amount').val() + ')', {{ page.id }});
					ga('send', 'event', 'Submission Attempt', $('#email').val(), 'Type (' + $('input[name="donation_type"]:checked').val() + ')', {{ page.id }});	
				} else {
					ga('send', 'event', 'Submission Attempt', 'Unknown User', 'Amount (' + $('#ga-amount').val() + ')', {{ page.id }});
					ga('send', 'event', 'Submission Attempt', 'Unknown User', 'Type (' + $('input[name="donation_type"]:checked').val() + ')', {{ page.id }});
				}
			}
		});

		// Set up tracking for donation type change
		$('input[name="donation_type"]').change(function() {
			if( $(this).is(':checked') ) {
				if(knownUser) {
					ga( 'send', 'event', 'Form Interaction', '{{ user.email }}', 'Type Changed (' + $(this).val() + ')', {{ page.id }} );
				} else if ( $('#email').val() != "" ) {
					ga( 'send', 'event', 'Form Interaction', $('#email').val(), 'Type Changed (' + $(this).val() + ')', {{ page.id }} );
				} else {
					ga('send', 'event', 'Form Interaction', 'Unkown User', 'Type Changed ('+ $(this).val() + ')', {{ page.id }} );
				}			
			}
		});

		// Track "next" button clicked
		$('.next').click(function() {
			var page = $(this).data('page');

			if($('#act').valid()) {
				if(knownUser) {
					ga('send', 'event', 'Form Interaction', '{{ user.email }}', 'Next Pressed (' + (page - 1) + ')');
				} else if ( $('#email').val() != "" ) {
					ga('send', 'event', 'Form Interaction', $('#email').val(), 'Next Pressed (' + (page - 1) + ')');
				} else {
					ga('send', 'event', 'Form Interaction', 'Unknown User', 'Next Pressed (' + (page - 1) + ')');
				}
			} else {
				logValidationErrors();
			}
		});

		// Track "prev" button clicked
		$('.prev').click(function() {
			var page = $(this).data('page');

			if(knownUser) {
				ga('send', 'event', 'Form Interaction', '{{ user.email }}', 'Back Pressed (' + (page + 1) + ')');
			} else if ( $('#email').val() != "" ) {
				ga('send', 'event', 'Form Interaction', $('#email').val(), 'Back Pressed (' + (page + 1) + ')');
			} else {
				ga('send', 'event', 'Form Interaction', 'Unknown User', 'Back Pressed (' + (page + 1) + ')');
			}
		});

		// Log any errors that AK spits back
		window.setTimeout(function() {
			logValidationErrors();
		}, 500);
	});
</script>
{% comment %}
	/*
-------------------------------------------------------------------------------
		@END - Google Analytics Tracking
-------------------------------------------------------------------------------
	*/
	/*
-------------------------------------------------------------------------------
		@START - Staged Donation Form JS
-------------------------------------------------------------------------------
	*/
{% endcomment %}
<script>
	/*
		Make the donation page panels all the same height
	*/
	function fixHeight() {
		var minHeight = 0;

		$('.donation-page').each(function() {
			if($(this).height() > minHeight) {
				minHeight = $(this).height();
			}
		});

		if(window.innerWidth > 640) {
			$('.form-column').innerHeight(minHeight + 160);
		} else {
			$('.form-column').innerHeight("auto");
		}
	}

	$(document).ready(function() {
		{% if has_shippable_products %}
			shipping_country_change();
		{% endif %}

		{% if has_products %}
{% comment %}
	/*
-------------------------------------------------------------------------------
		@START - Product JS
-------------------------------------------------------------------------------
	*/
{% endcomment %}
			var amounts = [];

			{% for amount in amounts %}
				{% ifequal amount "other" %}
				{% else %}
					amounts.push({{ amount }});
				{% endifequal %}
			{% endfor %}

			amounts.sort(function(a, b){return a-b});

			/*
				---------------------------------------------------------------
					Select the amount when a product is picked
				---------------------------------------------------------------
			*/

			$('.products input[type="checkbox"]').click(function() {
				$('.products label.checked').removeClass('checked');
				$('.products .select.checked').removeClass('checked');

				$('#order-info-product-amount').html("");
				$('#order-info-product').html("");

				if(this.checked) {
					$('.products input[type="checkbox"]').not(this).prop('checked', false);

					$(this).parent('label').addClass('checked').parent('div').addClass('checked');

					var price = parseFloat($(this).parent('label').data('price'));

					var other = $('#amount_other_field').val();

					if(other) {
						other = parseFloat(other);
					} else {
						other = $('input:radio[name=amount]:checked').val();

						if(other) {
							other = parseFloat(other);
						} else {
							other = 0;
						}
					}

					if(price > other) {
						for(var i = 0; i < amounts.length; i++) {
							if(amounts[i] >= price) {
								$('#id_amount_' + amounts[i]).click();
								break;
							}
						}
					}

					$('#order-info-product-amount').html('<span class="free">Free!</span>');
					$('#order-info-product').html($(this).data("name"));
				}
			});

			$('#amount_other_field').change(function() {
				var price = $('.product input[type="checkbox"]:checked').parent('label').data('price');

				if( price > parseFloat( $(this).val() ) ) {
					$('.product input[type="checkbox"]:checked').click();
				}
			});

			$('.amounts input[name="amount"], .amounts input#amount_other_field').click(function() {
				var amount = parseFloat($(this).val());

				var product = parseFloat($('.product .checkbox.checked').data('price'));

				if(!$.isNumeric(product)) {
					product = -1;
				}

				if(amount < product) {
					$('.product input[type="checkbox"]:checked').click();
				}
			});


			/*
				---------------------------------------------------------------
					Fix overlaid labels on shipping button
				---------------------------------------------------------------
			*/
			$('#shipping_same').click(function() {
				if(this.checked) {
					$('.shipping-form.overlay-form label').each(function() {
						$(this).addClass('has-content');
					});
				} else {
					$('.shipping-form.overlay-form label').each(function() {
						$(this).removeClass('has-content');
					});			
				}
			});

{% comment %}
	/*
-------------------------------------------------------------------------------
		@END - Product JS
-------------------------------------------------------------------------------
	*/
{% endcomment %}
		{% endif %}
{% comment %}
	/*
-------------------------------------------------------------------------------
		@START - General Donation JS
-------------------------------------------------------------------------------
	*/
{% endcomment %}
		/*
			---------------------------------------------------------------
				Resubmission - If this is a resubmission, go to page 3
			---------------------------------------------------------------
		*/

		var page_to_show = 1;

		if ( window.location.href.indexOf("error_amount") >= 0) {
			page_to_show = 2;
		} else if( window.location.href.indexOf("error_card_num") >= 0) {
			page_to_show = 4;
		} 

		if(page_to_show > 1) {
			$('.page-1').hide();
			$('.page-' + page_to_show).show();

			// Let AK Update the form with the previous amount
			window.setTimeout(function() {
				update_total();
			}, 250);
		}


		/*
			---------------------------------------------------------------
				Fancy Radio Button Code
			---------------------------------------------------------------
		*/
		$('.amounts input[name="amount"], .amounts input#amount_other_field').click(function() {
			// Remove any labels that were marked at checked
			$('.amounts label.checked').removeClass('checked'); 

			// Add the label radio-checked
			$(this).parent('label').addClass('checked');
		});

		$('.type input[name="donation_type"]').click(function() {
			$('.type label.checked').removeClass('checked');

			$(this).parent('label').addClass('checked');
		});


		/*
			---------------------------------------------------------------
				Forward / Back Buttons
			---------------------------------------------------------------
		*/
		$('.next').click(function() {
			var page = $(this).data('page');
			var current = $(this).data('current');
			var button = $(this);

			{% if page.custom_fields.splash_layout %}
				scrollToAnchor('form-top');
			{% else %}
				// Only scroll on mobile
				if ($(window).width() < 641) {
					scrollToAnchor('form-top');
				}
			{% endif %}

			if($('#act').valid()) {
				$(button).prop('disabled', true);

				$('.page-' + (current)).fadeOut(300, function() {
					$('.page-' + page).delay(50).fadeIn(300, function() {
						$(button).prop('disabled', false);
					});
				});
			}
		});

		$('.prev').click(function() {
			var page = $(this).data('page');
			var button = $(this);
			var current = $(this).data('current');
				
			$(button).prop('disabled', true);

			$('.page-' + (current)).fadeOut(300, function() {
				$('.page-' + page).delay(50).fadeIn(300, function() {
					$(button).prop('disabled', false);
				});
			});
		});


		/*
			---------------------------------------------------------------
				Make all panes the same height
			---------------------------------------------------------------
		*/
	
		fixHeight();

		$(window).resize(function() {
			fixHeight();
		});


		/*
			---------------------------------------------------------------
				Form Submission
			---------------------------------------------------------------
		*/

		$('#act').submit(function() {
			logValidationErrors();

			if( $(this).valid() ) {
				$('.submit').prop('disabled', true).val("Processing...");
			}
		});


		/*
			---------------------------------------------------------------
				Show Phone Field on Recurring Donations
			---------------------------------------------------------------
		*/

		$('.type input[name="donation_type"]').click(function() {
			if($(this).val() == "recurring") {
				$('#phone_box').show();
			} else {
				$('#phone_box').hide();
			}
		});


		/*
			---------------------------------------------------------------
				Validation
			---------------------------------------------------------------
		*/

		$('#act').validate({
			rules: {
				amount: {
					require_from_group: [1, '.amount-list']
				},

				amount_other: {
					require_from_group: [1, '.amount-list'],
					number: true,
					min: 1,
					required: {
						depends: function(element) {
							return $('label[for="amount_other_field"]').hasClass( 'checked' );
						}
					}
				},

				name: {
					required: true
				},

				email: {
					required: true,
					email: true,
					akemail: true
				},

				address1: {
					required: true
				},

				city: {
					required: true
				},

				zip: {
					required: true,
					zipcodeUS: true
				},

				postal: {
					required: true
				},

				state: {
					required: true
				},

				card_numx: {
					required: true,
					creditcard: true
				},

				card_code: {
					required: true
				},

				exp_date_month: {
					required: true
				},

				exp_date_year: {
					required: true
				},

				phone: {
					required: {
						depends: function(element) {
							return $('.type input[value="recurring"]').is( ':checked' );
						}
					}
				}
			},

			groups: {
				amountList: 'amount amount_other'
			},

			messages: {
				amount: {
					require_from_group: 'Select an amount.'
				},

				amount_other: {
					require_from_group: 'Select an amount.',
					min: 'Donations below $1.00 are not allowed.',
					number: 'Enter a valid dollar amount.',
					required: 'Eneter a valid dollar amount.'
				},

				name: {
					required: 'Enter your name.'
				},

				email: {
					required: 'Enter a valid email address.',
					email: 'Enter a valid email address.'
				},

				address1: {
					required: 'Enter your address.'
				},

				city: {
					required: 'Enter your city.'
				},                 

				state: {
					required: 'Select your state.'
				},

				zip: {
					required: 'Enter a valid zip code.',
					zipcodeUS: 'Enter a valid US zip code.'
				},

				postal: {
					required: 'Enter your postal code.'
				},

				card_num: {
					required: "Enter your credit card number.",
					creditcard: "Enter a valid credit card number."
				},

				card_code: {
					required: "Enter your CVV code."
				},

				exp_date_month: {
					required: "Select your card's month of expiration."
				},

				exp_date_year: {
					required: "Select your card's year of expiration."
				},

				phone: {
					required: "Recurring donors are required to enter a phone number."
				}
			},

			errorElement: 'li',
			errorClass: 'form-error',
			errorLabelContainer: "#ak-errors",

			highlight: function(element, errorClass, validClass) {
				var label = $("label[for='"+$(element).attr('id')+"']");

				$(label).addClass("has-error");
			},

			unhighlight: function(element, errorClass, validClass) {
				var label = $("label[for='"+$(element).attr('id')+"']");

				$(label).removeClass("has-error");
			}
		});

{% comment %}
	/*
-------------------------------------------------------------------------------
		@END - General Donation JS
-------------------------------------------------------------------------------
	*/
{% endcomment %}
	});
</script>
{% comment %}
	/*
-------------------------------------------------------------------------------
		@END - Staged Donation Form JS
-------------------------------------------------------------------------------
	*/
	/*
-------------------------------------------------------------------------------
		@START - Staged Donation Form HTML
-------------------------------------------------------------------------------
	*/
{% endcomment %}


<form id="act" name="act" class="staged {% if page.payment_processor_information.use_tr %}braintree_form {% endif %}row" method="POST" action="/act/" accept-charset="utf-8">
	<input type="hidden" name="orig_akid" value="{{ akid }}">
	<input type="hidden" name="page" value="{{ page.name }}">
	<input type="hidden" name="ga-amount" id="ga-amount" value="0">
	
	{% if not page.allow_international %}
		<input type="hidden" name="country" value="United States">
	{% endif %}

	<div class="row {% if page.custom_fields.splash_layout %}one-column {% else %}background corn {% endif %}splash-layout">
		<a name="form-top"></a>

		{% if not page.custom_fields.splash_layout %}
			<div class="medium-3 medium-offset-1 medium-push-7 columns form-error-box-wrapper">
				<ul id="ak-errors" class="form-error-box">		
				</ul> <!-- .form-error-box -->

				{% if page.custom_fields.image_url %}
					<img src="{{ page.custom_fields.image_url }}">
				{% endif %}
			</div> <!-- .form-error-box-wrapper -->
		{% endif %}

		<div class="form-column {% if page.custom_fields.splash_layout %}medium-10 columns medium-offset-1 {% else %}medium-6 medium-pull-4 medium-offset-1 {% endif %}columns">
			{% if page.custom_fields.splash_layout %}
				<ul id="ak-errors" class="form-error-box">		
				</ul> <!-- .form-error-box -->
			{% endif %}

			<div class="no-js-warning">
				<h2>Sorry!</h2>
				<p>Javascript is required for this form to function properly. Enabling Javascript allows us to encrypt your information to help protect your privacy.</p> <p>Please enable javascript and reload this page.</p>
			</div>

{% comment %}
	/*
-------------------------------------------------------------------------------
		@START - Page #1 (Ask)
-------------------------------------------------------------------------------
	*/ 
{% endcomment %}
			<div id="step-1" class="donation-page page-1">
				<div class="page-title">
					<h2>{{ page.title }}</h2>
				</div> <!-- .page-title -->

				<div class="ask-text">
					{% include_tmpl form.ask_text %}
				</div> <!-- .ask-text -->

				{% if page.custom_fields.splash_layout %}
					<div class="row amounts">
						{% for amount in amounts %}
							{% ifequal amount "other" %}
								<div class="large-2 medium-4 small-4 columns amount-other">
									<noscript><input type="radio" value="" class="amount_radio_button" name="amount"></noscript>
									<label for="amount_other_field" class="ak-btn radio">
										{{ page.currency_sym }}<input type="text" id="amount_other_field" class="amount-list" name="amount_other" size="3" onKeypress="clear_radio_buttons();" onClick="update_total()" onBlur="update_total()" onChange="update_total()">
									</label>
								</div>
							{% else %}
								<div class="medium-2 small-4 columns">
									<label for="id_amount_{{amount}}" class="ak-btn radio">
										<input type="radio" id="id_amount_{{amount}}" value="{{ amount }}" class="amount_radio_button amount-list" name="amount" onClick="clear_other(); update_total()"  onBlur="update_total()" onChange="update_total()" {% if not args.amount_other and amount == default_amount %}checked{% endif %}>{{ page.currency_sym }}{{ amount|commify }}
									</label>
								</div>
							{% endifequal %}
						{% endfor %}
					</div> <!-- .amounts -->

					{% if page.custom_fields.recurring %}
						<div class="row">
							<div class="medium-12 columns">
								<div id="type">
									<p>*This donation will be a monthly recurring donation</p>
									<input type="hidden" name="donation_type" value="recurring">
								</div>
							</div>
						</div>
					{% else %}
						<div id="type" class="row type">
							<div class="medium-4 medium-offset-2 columns">
								<label class="radio checked" for="id_type_single"><input type="radio" id="id_type_single" name="donation_type" value="single" {% if not page.custom_fields.reucrring_default %}checked{% endif %} onClick="update_total()"  onBlur="update_total()" onChange="update_total()"> One-Time</label>
							</div>

							<div class="medium-4 columns">
								<label class="radio" for="id_type_monthly"><input type="radio" id="id_type_monthly" name="donation_type" value="recurring" {% if page.custom_fields.recurring_default %}checked{% endif %} onClick="update_total()"  onBlur="update_total()" onChange="update_total()"> Monthly</label>
							</div>
						</div> <!-- .type -->
					{% endif %}

					{% if has_products %}
						<div class="products">
							{% for product in products %}
								<div class="row product product-{{ product.id }}">
									<div class="small-12 columns text show-for-small">
										<h3 class="product-name">
											{{ product.name }}
										</h3>
										
										<div class="description">
											{{ product.desc }}
										</div> <!-- .description -->
									</div> <!-- .text -->

									<div class="medium-3 small-6 columns select">
										{{ page.currency_sym }}{{ product.price|commify }} &amp; Up
										<label for="product_{{ product.id }}" class="checkbox" data-price="{{ product.price }}">
											Select
											<input type="checkbox" value="1" name="product_{{ product.id }}" id="product_{{ product.id }}" class="ak_product_inputs" onBlur="update_total()" onChange="update_total()" data-name="{{ product.name }}">
										</label>
									</div>

									<div class="medium-7 columns text hide-for-small">
										<h3 class="product-name">
											{{ product.name }}
										</h3>
										
										<div class="description">
											{{ product.desc }}
										</div> <!-- .description -->
									</div> <!-- .text -->

									<div class="medium-2 small-6 columns image">
										<img src="https://s3.amazonaws.com/media.fooddemocracynow.org/products/images/product_{{ product.id }}.jpg">
									</div> <!-- .image -->
								</div> <!-- .product -->

								<div class="product-divider"></div>
							{% endfor %}
						</div> <!-- .products -->
					{% endif %}
				{% endif %}

				<div class="page-buttons">
					<input type="button" class="large button next" value="Donate Now" data-current="1" data-page="{% if not page.custom_fields.splash_layout %}{% else %}3{% endif %}"/>
				</div> <!-- .page-buttons -->
				
				{% if not page.custom_fields.splash_layout %}
					<div class="alternate-methods">
						<input type="button" class="button small paypal" value="Donate via PayPal" />
						<input type="button" class="button small bitcoin" value="Donate via Bitcoin" />			
					</div> <!-- .alternate-methods -->
				{% endif %}
			</div> <!-- .page1 -->
{% comment %}
	/*
-------------------------------------------------------------------------------
		@END - Page #1 
-------------------------------------------------------------------------------
	*/
{% endcomment %}

			{% if not page.custom_fields.splash_layout %}
{% comment %}
	/*
-------------------------------------------------------------------------------
		@START - Page #2 (Donation Amounts)
-------------------------------------------------------------------------------
	*/ 
{% endcomment %}
				<div id="step-2" class="donation-page page-2">
					<div class="row amounts">
						<div class="medium-12 columns">
							<strong><h3>Donation Amount</h3></strong>
						</div>

						{% for amount in amounts %}
							{% ifequal amount "other" %}
								<div class="large-4 medium-8 small-4 columns amount-other">
									<noscript><input type="radio" value="" class="amount_radio_button" name="amount"></noscript>
									<label for="amount_other_field" class="ak-btn radio">
										{{ page.currency_sym }}<input type="text" id="amount_other_field" class="amount-list" name="amount_other" size="3" onKeypress="clear_radio_buttons();" onClick="update_total()" onBlur="update_total()" onChange="update_total()">
									</label>
								</div>
							{% else %}
								<div class="small-4 columns">
									<label for="id_amount_{{amount}}" class="ak-btn radio">
										<input type="radio" id="id_amount_{{amount}}" value="{{ amount }}" class="amount_radio_button amount-list" name="amount" onClick="clear_other(); update_total()"  onBlur="update_total()" onChange="update_total()" {% if not args.amount_other and amount == default_amount %}checked{% endif %}>{{ page.currency_sym }}{{ amount|commify }}
									</label>
								</div>
							{% endifequal %}
						{% endfor %}
					</div>
					
					<div class="row type">
						{% if page.custom_fields.recurring %}
							<div class="medium-12 columns">
								<div id="type">
									<p>*This donation will be a monthly recurring donation</p>
									<input type="hidden" name="donation_type" value="recurring">
								</div>
							</div>
						{% else %}
							<div id="type">
								<div class="medium-12 columns">
									<h3>Donation Type</h3>
								</div>		

								{% if page.custom_fields.recurring_default %}
									<div class="large-4 medium-6 small-6 columns">
										<label class="radio" for="id_type_single"><input type="radio" id="id_type_single" name="donation_type" value="single"> One-Time</label>
										<label class="radio checked" for="id_type_monthly"><input type="radio" id="id_type_monthly" name="donation_type" value="recurring" checked> Monthly</label>
									</div>
								{% else %}
									<div class="large-4 medium-6 small-6 columns">
										<label class="radio checked" for="id_type_single"><input type="radio" id="id_type_single" name="donation_type" value="single" checked> One-Time</label>
										<label class="radio" for="id_type_monthly"><input type="radio" id="id_type_monthly" name="donation_type" value="recurring"> Monthly</label>
									</div>
								{% endif %}
							</div> <!-- #type -->
						{% endif %}
					</div> <!-- .row -->

					<div class="page-buttons">
						<input type="button" class="small button prev secondary" value="&lt; Back" data-current="2" data-page="1"/>
						<input type="button" class="small button next" value="Next &gt;" data-current="2" data-page="3"/>
					</div> <!-- .page-buttons -->
				</div> <!-- .page-2 -->
{% comment %}
	/*
-------------------------------------------------------------------------------
		@END - Page #2
-------------------------------------------------------------------------------
	*/ 
{% endcomment %}
			{% endif %}

{% comment %}
	/*
-------------------------------------------------------------------------------
		@START - Page #3 (User Form and Shipping Information Form)
-------------------------------------------------------------------------------
	*/ 
{% endcomment %}
			<div id="step-3" class="donation-page page-3">
				<div class="row">
					<div class="{% if page.custom_fields.splash_layout %}medium-6 {% else %}medium-12 {% endif %}columns billing-pane">
						<div class="row">
							<div class="medium-12 columns">
								<strong><h3>Billing Information</h3></strong>
							</div>

							<div class="user-form overlay-form">
								<div class="medium-6 columns">
									<label for="name">Name</label>
									<input id="name" type="text" name="name" />
								</div>

								<div class="medium-6 columns">
									<label class="required" for="email">Email</label>
									<input id="email" type="text" name="email" />
								</div>

								<div id="phone_box" class="medium-12 columns">
									<label for="phone">Phone</label>
									<input type="text" name="phone" id="phone">
								</div>

								{% if has_shippable_products %}
									<div class="medium-12 columns">
										<label for="address1">Billing Address</label>
										<input id="address1" type="text" name="address1" onchange="sync_to_shipping()" onblur="sync_to_shipping()"/>
									</div>

									<div class="medium-12 columns">
										<label for="address2">Billing Address (optional)</label>
										<input id="address2" type="text" name="address2" onchange="sync_to_shipping()" onblur="sync_to_shipping()"/>
									</div>
								{% else %}
									<div class="medium-12 columns">
										<label for="address1">Billing Address</label>
										<input id="address1" type="text" name="address1" onchange="sync_to_shipping()" onblur="sync_to_shipping()"/>
									</div>
								{% endif %}

								<div class="medium-4 columns">
									<label for="city">City</label>
									<input id="city" type="text" name="city" onchange="sync_to_shipping()" onblur="sync_to_shipping()" />
								</div>

								{% if page.allow_international %}
									<div id="us_billing_fields">
								{% endif %}

								<div class="medium-4 columns">
									<label class="hidden" for="id_state">State</label>
									{% with 'sync_to_shipping()' as onchange %}{% include "./state_select.html" %}{% endwith %}
								</div>

								<div class="medium-4 columns">
									<label for="zip">Zip</label>
									<input id="zip" type="text" name="zip" maxlength="5" size="5" onchange="sync_to_shipping()" onblur="sync_to_shipping()"/>
								</div>

								{% if page.allow_international %}
									</div>

									<div id="intl_billing_fields">
										<div class="medium-4 columns">
											<label for="region">Region</label>
											<input id="region"  type="text" name="region" size="20" onchange="sync_to_shipping()" onblur="sync_to_shipping()"/>
										</div>
										
										<div class="medium-4 columns">
											<label for="postal">Postal Code</label>
											<input id="postal"  type="text" name="postal" size="10" onchange="sync_to_shipping()" onblur="sync_to_shipping()"/>
										</div>
									</div>

									<div class="medium-12 columns">
										<label for="country" class="hidden">Country</label>
										{% with 'country_change()' as onchange %}{% include "./country_select.html" %}{% endwith %}
									</div>

									<script language="javascript">country_change();</script>
								{% endif %}
							</div> <!-- labels overlaid (billing address) -->					
						</div> <!-- .row -->
					</div> <!-- .billing-pane -->

					{% if page.custom_fields.splash_layout %}
						{% if has_shippable_products %}
							<div id="shipping_address" class="medium-6 columns">
								<div class="row">
									<div class="medium-12 columns">
										<strong><h3>Shipping Address</h3></strong>
									</div>

									{% with "shipping_" as input_name_prefix %}
										<div class="shipping-same medium-12 columns">
											<label class="checkbox" for="shipping_same"><input id="shipping_same" type="checkbox" name="shipping_same" value="1" onchange="toggle_shipping(this)"/><span></span></label>
											<div class="same-label">
												Ship to billing address
											</div>
										</div>

										<div class="shipping-form overlay-form">    
											<div class="medium-12 columns">
												<label for="shipping_address1">Shipping address line 1</label>
												<input id="shipping_address1" type="text" name="shipping_address1" />
											</div>

											<div class="medium-12 columns">
												<label for="shipping_address2">Shipping address line 2 (optional)</label>
												<input id="shipping_address2" type="text" name="shipping_address2" />
											</div>

											<div class="medium-4 columns">
												<label for="shipping_city">Shipping city</label>
												<input id="shipping_city" type="text" name="shipping_city" />
											</div>

											{% if page.allow_international %}
												<div id="us_shipping_fields">
													<div class="medium-4 columns">
														<label for="id_shipping_state" class="hidden">State</label>
														{% include "./state_select.html" %}
													</div>

													<div class="medium-4 columns">
														<label for="shipping_zip">ZIP</label>
														<input id="shipping_zip"  type="text" name="shipping_zip" maxlength="5" size="5"/>
													</div>
												</div>

												<div id="intl_shipping_fields">
													<div class="medium-4 columns">
														<label for="shipping_region">Region</label>
														<input id="shipping_region"  type="text" name="shipping_region" size="20"/>
													</div>

													<div class="medium-4 columns">
														<label for="shipping_postal">Postal Code</label>
														<input id="shipping_postal"  type="text" name="shipping_postal" size="10"/>
													</div>
												</div>

												<div class="medium-12 columns">
													<label for="shipping_country" class="hidden">Shipping country</label>
													{% with 'shipping_country_change()' as onchange %}{% include "./country_select.html" %}{% endwith %}
												</div>

												<script language="javascript">shipping_country_change();</script>
											{% else %}
												<div class="medium-4 columns">
													<label for="id_shipping_state">State</label>
													{% include "./state_select.html" %}
												</div>

												<div class="medium-4 columns">
													<label for="shipping_zip">Shipping ZIP</label>
													<input id="shipping_zip"  type="text" name="shipping_zip" maxlength="5" size="5"/>
												</div>
											{% endif %}
										</div> <!-- .shipping-form -->
									{% endwith %}
								</div> <!-- .row -->
							</div> <!-- #shipping_address -->
						{% endif %}
					{% endif %}
				</div> <!-- .row -->

				<div class="page-buttons">
					<input type="button" class="small button prev secondary" value="&lt; Back" data-current="3" data-page="{% if page.custom_fields.splash_layout %}1{% else %}2{% endif %}"/>
					<input type="button" class="small button next" value="Next &gt;" data-current="3" data-page="4"/>
				</div> <!-- .page-buttons -->				
			</div> <!-- .page-3 -->
{% comment %}
	/*
-------------------------------------------------------------------------------
		@END - Page #3
-------------------------------------------------------------------------------
	*/ 
	/*
-------------------------------------------------------------------------------
		@START - Page #4 (Payment Form)
-------------------------------------------------------------------------------
	*/ 
{% endcomment %}

			<div id="step-4" class="donation-page payment-form overlay-form page-4">
				<div class="row">
					{% if page.custom_fields.splash_layout %}
						<div class="medium-6 columns">
							<div class="row">
					{% endif %}

					<div class="medium-12 columns">
						<strong><h3>Payment Information</h3></strong>
					</div>

					{% if show_paypal %}
						<div>
							<input type="radio" name="paypal" value="0" id="pay_by_cc"> 
							<label for="pay_by_cc" style="display: inline">Pay with Credit Card</label>
						</div>

						<input type="radio" name="paypal" value="1" id="pay_by_paypal" checked><label for="pay_by_paypal" style="display: inline;">
						<img style="max-width: 150px" src="https://www.paypalobjects.com/webstatic/mktg/merchant/images/express-checkout-hero.png"></label>

						<script>
							function paypalradios() {
								$(".ak-cc-box").addClass('ak-hide');

								$("input[type='radio']").click(function() {
									if ($("#pay_by_cc").is(':checked')) {
										$(".ak-cc-box").slideDown();
									}

									if ($("#pay_by_paypal").is(':checked')) {
										$(".ak-cc-box").slideUp();
									}
								});
							}

							$(document).ready(function() {
								paypalradios();
							});
						</script>
					{% endif %}

					<div id="card_num_box" class="medium-9 columns">
						<label for="card_num">Credit Card #</label>
						<input id="card_num" type="text" name="card_num">
					</div>

					<div id="card_code_box" class="medium-3 columns">
						<label for="card_code">CVV</label>
						<input id="card_code" type="text" name="card_code" size="4" />
					</div>

					<div id="exp_date_box" class="medium-12 columns cc-exp">
						<div class="row">
							<div class="large-3 medium-4 small-5 columns">
								<label for="exp_date_month">MM</label>
								<select id="exp_date_month" type="text" name="exp_date_month">
									<option value=""></option>
									<option value="01">01</option>
									<option value="02">02</option>
									<option value="03">03</option>
									<option value="04">04</option>
									<option value="05">05</option>
									<option value="06">06</option>
									<option value="07">07</option>
									<option value="08">08</option>
									<option value="09">09</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
								</select>
							</div>

							<div class="medium-1 small-1 columns divider">
								/
							</div>

							<div class="large-3 medium-4 small-6 columns">
								<label for="exp_date_year">YYYY</label>
								<select id="exp_date_year" type="text" name="exp_date_year">
									<option value=""></option>
									<option value="14">2014</option>
									<option value="15">2015</option>
									<option value="16">2016</option>
									<option value="17">2017</option>
									<option value="18">2018</option>
									<option value="19">2019</option>
									<option value="20">2020</option>
									<option value="21">2021</option>
									<option value="22">2022</option>
									<option value="23">2023</option>
									<option value="24">2024</option>
									<option value="25">2025</option>
								</select>
							</div>
						</div> <!-- .row -->
					</div><!-- .cc-exp-->

					{% if page.custom_fields.splash_layout %}
							</div> <!-- .row -->
						</div> <!-- .medium-6 -->

						<div class="medium-5 medium-offset-1 columns order-info">
							<div class="row">
								<div class="medium-12 columns">
									<strong><h3>Order Information</h3></strong>
								</div>

								<div class="small-9 columns products">
									<div id="order-info-donation">Donation</div>
									<div id="order-info-product"></div>					
								</div>

								<div class="small-3 columns price text-right">
									<div id="order-info-donation-amount"></div>
									<div id="order-info-product-amount"></div>
								</div>

								<div class="small-9 columns total">
									<strong>Total:</strong>
								</div>

								<div class="small-3 columns total text-right">
									<div id="order-info-total"></div>
								</div> <!-- .total -->
							</div> <!-- .row -->
						</div> <!-- .order-info -->
					{% endif %}
				</div> <!-- .row -->

				<div class="progress-wrapper">
					{% include "./progress_meter.html" %}
				</div>

				<div class="page-buttons">
					{% if page.payment_processor_information.use_cse %}
						<input disabled="true" type="submit" class="button large submit" value="Submit Donation">
						
						<noscript>
							<p><b>JavaScript is required</b> so this page can securely submit your donation.</p>
						</noscript>
					{% else %}
						<input type="submit" class="button large submit" value="Submit Donation">
					{% endif %}
				</div> <!-- .page-buttons -->

				<div class="alternate-methods">
					<input type="button" class="small button prev" value="&lt; Back" data-current="4" data-page="3"/>		
				</div> <!-- .alternate-methods -->
			</div> <!-- .page-4 -->
{% comment %}
	/*
-------------------------------------------------------------------------------
		@END - Page #4
-------------------------------------------------------------------------------
	*/ 
{% endcomment %}
		</div> <!-- .form-column -->

			{% comment %}
			<div class="image-column medium-3 medium-offset-1 columns">
				<img src="{{ page.custom_fields.image_url }}">
			</div> <!-- .image-column -->
			{% endcomment %}
	</div> <!-- .row -->
</form>

<div class="row">
	<div class="medium-12 columns donate-footer">
		<p><strong>Please note that donations are not tax-deductible.</p></strong>
		<p>If you prefer to donate with a check or money order, please send to:<br>Food Democracy Now! | P.O.Box 5 | Clear Lake, Iowa | 50428</p>
	</div> <!-- .donate-footer -->
</div>
{% comment %}
	/*
-------------------------------------------------------------------------------
		@END - Staged Donation Form HTML
-------------------------------------------------------------------------------
	*/
{% endcomment %}

{% if pp.use_cse %}
	<script src="https://js.braintreegateway.com/v1/braintree-data.js"></script>
{% endif %}
<!-- @END Foundation Template/donate.html -->
{% endblock %}