{% extends "./wrapper.html" %}{% load actionkit_tags %}
<!-- @START Foundation Template/petition.html -->
{% block content %}

<form id="act" class="ak-form" name="act" method="POST" action="/act/" accept-charset="utf-8">
	<input type="hidden" name="page" value="{{ page.name }}">

	<a name="form-top"></a>

	<div class="row hide-for-small desktop-about">
		{% if page.custom_fields.image_url %}
			<div class="medium-3 columns image-column">
				<img class="image_url" src="{{page.custom_fields.image_url}}">
			</div> <!-- .image-column -->
		{% endif %}

		<div class="{% if page.custom_fields.image_url %}medium-9 {% else %}medium-12 {% endif %}columns petition-content">
			<h2 class="page-title">{{ page.title }}</h2>
	
			{% autoescape off %}
				{% include_tmpl form.about_text %}
			{% endautoescape %}
		</div> <!-- .petition-content -->
	</div> <!-- .desktop-about -->

	<div class="row">
		<div class="medium-4 medium-offset-1 columns petition-box-wrapper">
			<div class="petition-box">
				<h3>Add your voice</h3>

				<div class="petition-form overlay-form">
					{% include "./user_form_wrapper.html" %}
				</div>

				<input type="submit" class="button" value="Sign Petition">
			</div> <!-- .petition-box -->
		</div> <!-- .petition-box-wrapper -->

		<div class="medium-6 columns petition-ask-wrapper">
			<div class="petition-ask">
				{% if page.custom_fields.topper_image %}
					<img class="topper hide-for-small" src="{{page.custom_fields.topper_image}}">
				{% else %}
					<img class="topper hide-for-small" src="https://s3.amazonaws.com/fooddemocracynow/images/petition_chicken.png">
				{% endif %}

				{% if form.statement_leadin %}
					<div class="petition-leadin">
						{% autoescape off %}
							{% include_tmpl form.statement_leadin %}
						{% endautoescape %}
					</div> <!-- .petition-leadin -->
				{% endif %}
		
				{% autoescape off %}
					{% include_tmpl form.statement_text %}
				{% endautoescape %}
			</div> <!-- .petition-ask -->
		</div> <!-- .petition-ask-wrapper -->
	</div> <!-- .row -->

	<div class="row show-for-small mobile-about">
		<div class="small-12 columns top-button">
			<input type="button" class="button small" value="Back to Top" onclick="scrollToAnchor('form-top');">
		</div> <!-- .top-button -->

		<div class="small-12 columns">

			<h2 class="page-title">{{ page.title }}</h2>
	
			{% autoescape off %}
				{% include_tmpl form.about_text %}
			{% endautoescape %}
		</div>

		{% if page.custom_fields.image_url %}
			<div class="small-12 columns image-column">
				<img class="image_url" src="{{page.custom_fields.image_url}}" onclick="scrollToAnchor('form-top');">
			</div> <!-- .image-column -->
		{% endif %}

		<div class="small-12 columns top-button">
			<input type="button" class="button" value="Back to Top" onclick="scrollToAnchor('form-top');">
		</div> <!-- .top-button -->
	</div> <!-- .mobile-about -->
</form>

<!-- @END Foundation Template/petition.html -->
{% endblock %}