{% extends "./wrapper.html" %}{% load actionkit_tags %}

{% block content %}

<style type="text/css">
#login-form label { display:inline-block; width:65px; }
#id_email,  #id_password { width:14em; }
</style>

<div id="content-main">
<p>Fill out the form below and we'll set your password.</p>
{% if message %}
<p class="loud large">{{ message }}</p>
{% endif %}
<form action="{{ app_path }}" method="post" id="login-form">
  {{ form.as_p }}
  <div class="submit-row">
    <label>&nbsp;</label><button type="submit">Update</button>
  </div>
</form>
</div>
{% endblock %}
