{% extends "./wrapper.html" %}{% load actionkit_tags %}
<!-- @START Foundation Template/thanks.html -->

{% block meta_additions %}
	<meta property="og:url" value="{{ page.canonical_url }}">
{% endblock %}

{% block content %}
	{% autoescape off %}
		{% if actionkit_user %}
			{% if recurring_update or recurring_cancel %}
				<p class="area">{% filter ak_text:"logged_in_as" %}You are logged in as{% endfilter %} {{ actionkit_user.name }}. <a href="/logout">{% filter ak_text:"logout" %}Click to log out.{% endfilter %}</a></p>
			{% endif %}
		{% endif %}

		{% if page.followup.send_taf and args.taf %}
			<form name="taf" method="POST" action="/update_action/" accept-charset="utf-8" class="ak-thanks">
				<div class="thank-you-text">
					{% comment %}
						{% include './social_plugins.html' %}
					{% endcomment %}

					{% filter ak_text:"tell_your_friends_banner" %}
						<h2 class="ak-header">Thank you!</h2>
						
						<div class="ak-blurb">
							{% include_tmpl form.thank_you_text %}
						</div>
					{% endfilter %}
				</div><!-- .thank-you-text -->

				<input type="hidden" name="page" value="{{ page.name }}">

				<div class="row">
					<div class="medium-6 columns medium-offset-1 email-wrapper">
						<div class="row">
							<div class="small-6 columns diy-email">
								<a href="mailto:?subject={{ page.followup.taf_subject|urlencode }}&body={{ page.followup.taf_body|referring_akid:akid|tag_links:'source=mailto'|urlencode }}" class="button" target="_blank">{% filter ak_text:"taf_mailto_ask" %}Email Your Friends &raquo;{% endfilter %}</a>
							</div> <!-- .diy-email -->

							<div class="small-6 columns ak-email">
								<a id="taf-click" class="button">Email Using Our Site</a>
							</div>

							<div class="medium-12 columns site-email">
								<div id="email-taf-wrapper" class="hidden">
									<div id="email-taf" class="taf-email-form">
										<div>
											<label for="id_taf_emails">
												{% filter ak_text:"taf_ask" %}{% endfilter %} Enter friend's e-mail addresses (separated by commas):
											</label>

											<textarea id="id_taf_emails" name="taf_emails" class="ak-sharebox-tafsubject"></textarea>
										</div>

										<div>
											<label for="id_taf_subject">Subject:</label> 

											<div id="id_taf_subject">
												{% include_tmpl page.followup.taf_subject escaped %}
											</div>
										</div>

										<div>
											<label for="#id_taf_body">Message:</label>

											<div id="id_taf_body" name="taf_body" class="ak-sharebox-tafbody">
												{% filter referring_akid:akid|tag_links:"source=taf" %}
													<div class="taf-body">{% include_tmpl page.followup.taf_body escaped %}</div> <!-- .taf-body -->
												{% endfilter %}
											</div>
										</div>

										<div>
											<label for="id_taf_note">Add a short note (optional):</label>
											<textarea id="id_taf_note" name="taf_note"></textarea>
										</div>

										<button type="submit" class="button">{% filter ak_text:"taf_send_messages" %}Send message &raquo;{% endfilter %}</button>
										<input type="hidden" name="required" value="taf_emails">				
									</div> <!-- .taf-email-form -->
								</div> <!-- #email-taf-wrapper -->
							</div> <!-- .site-email -->
						</div> <!-- .row -->
					</div> <!-- .email-wrapper -->

					<div class="medium-4 columns taf-wrapper">
						<div class="row">
							<div class="progress-meter hide-for-small">
								{% include "./progress_meter.html" %}
							</div> <!-- .progress-meter -->

							<div class="medium-12 columns sharebox">
								<i class="fa fa-facebook-square"></i>

								<div class="text">
									<h4>Share on Facebook:</h4>
									<a href="https://www.facebook.com/sharer/sharer.php?u={{ page.canonical_url }}" class="share-button" target="newwindow" onclick="newWindow(275,475)">Share to Facebook</a>
								</div> <!-- .text -->
							</div> <!-- .sharebox-->

							<div class="medium-12 columns sharebox">
								<i class="fa fa-twitter-square"></i>

								<div class="text">
									<div class="tweet-text">
										{% if page.custom_fields.twitter_text %}
											{{ page.custom_fields.twitter_text }}
										{% else %}
											{% include_tmpl page.followup.taf_subject escaped %}
										{% endif %}
									</div> <!-- .tweet-text -->

									<a href="http://twitter.com/intent/tweet?text={{ page.custom_fields.twitter_text|urlencode }}" class="share-button" target="newwindow" onclick="newWindow(275,475)">Tweet This</a>
								</div> <!-- .text -->
							</div> <!-- .sharebox-->
						</div> <!-- .row -->
					</div> <!-- .taf-wrapper -->
				</div> <!-- .row -->
			</form>

			<script type="text/javascript">
				if (actionkit.args.taf) $("#taf").show();

				$('#taf-click').click(function() {
					if( $('#email-taf-wrapper').hasClass('expanded') ) {
						$('#email-taf-wrapper').slideUp();
						$('#email-taf-wrapper').removeClass('expanded');
					} else {
						$('#email-taf-wrapper').slideDown();
						$('#email-taf-wrapper').addClass('expanded');
					}
				});

				$(document).ready(function() {
					$('.ak-emailalt').click(function() {
						$('#taf-form').slideToggle();
					});
				});
			</script>
		{% else %}
			<!-- @START No TAF -->
			{{ args.taf }}

			{% filter ak_text:"notaf_thanks_banner" %}
				<div class="thank-you-text">
					{% comment %}
						{% include './social_plugins.html' %}
					{% endcomment %}

					{% filter ak_text:"notaf_thanks_banner" %}
						<h2 class="ak-header">Thank you!</h2>
						
						<div class="ak-blurb">
							{% include_tmpl form.thank_you_text %}
						</div>
					{% endfilter %}
				</div><!-- .thank-you-text -->

				<div class="row">
					<div class="medium-5 medium-offset-2 columns taf-wrapper">
						<div class="row">
							<div class="medium-12 columns sharebox">
								<i class="fa fa-facebook-square"></i>

								<div class="text">
									<h4>Share on Facebook:</h4>
									<a href="https://www.facebook.com/sharer/sharer.php?u={{ page.canonical_url }}" class="share-button" target="newwindow" onclick="newWindow(275,475)">Share to Facebook</a>
								</div> <!-- .text -->
							</div> <!-- .sharebox-->

							<div class="medium-12 columns sharebox">
								<i class="fa fa-twitter-square"></i>

								<div class="text">
									<div class="tweet-text">
										{% if page.custom_fields.twitter_text %}
											{{ page.custom_fields.twitter_text }}
										{% else %}
											{% include_tmpl page.followup.taf_subject escaped %}
										{% endif %}
									</div> <!-- .tweet-text -->

									<a href="http://twitter.com/intent/tweet?text={{ page.custom_fields.twitter_text|urlencode }}" class="share-button" target="newwindow" onclick="newWindow(275,475)">Tweet This</a>
								</div> <!-- .text -->
							</div> <!-- .sharebox-->
						</div>
					</div> <!-- .taf-wrapper -->

					<div class"medium-5 columns progress-meter">
						<form name="taf">
							<input type="hidden" name="page" value="{{ page.name }}">
							{% include "./progress_meter.html" %}
						</form>
					</div> <!-- .progress-meter -->
				</div> <!-- .row -->
			{% endfilter %}
			<!-- @END No TAF -->
		{% endif %}

		<script>
			function newWindow(height,width){
				var settings = "height=" + height + ",width=" + width + ",status=yes,toolbar=no,menubar=no,location=no";
				window.open("about:blank","newwindow", settings);
			}

			function fullBackground() {
				var headerHeight = $('.splash-header-wrapper').outerHeight(true);
				var footerHeight = $('.footer-wrapper').outerHeight(true);
				var windowHeight = $(window).outerHeight(true);
				var newHeight = windowHeight - footerHeight - headerHeight;

				if( $('.splash-wrapper').height() < newHeight ) {
					$('.splash-wrapper').css("min-height", newHeight);
				}
			}

			$( document ).ready( function() {
				fullBackground();		

				$( window ).resize( function() {
					fullBackground();		
				});
			});
		</script>
	{% endautoescape %}
{% endblock %}

{% block below_form %}
	<script type="text/javascript">
		actionkit.forms.contextRoot = '/context/';
		actionkit.forms.initTafForm('taf');
	</script>
{% endblock %}
<!-- @END Foundation Template/thanks.html -->