{% load actionkit_tags %}
<!doctype html>
<html lang="{{page.lang.iso_code|default:"en"}}"{% if page.lang.is_rtl %} dir="rtl"{% endif %}>
<!-- Foundation Template -->
<!-- wrapper.html -->
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="icon" type="image/png" href="https://s3.amazonaws.com/media.fooddemocracynow.org/foundation/img/favicon.ico">

	<title>{% block title %}{{ page.title }} | {% filter ak_text:"org_name" %}{% client_name %}{% endfilter %}{% endblock %}</title>

	<script>startTime=new Date()</script>

{% comment %}
	/*
-------------------------------------------------------------------------------
	@START - Facebook Meta Data	
-------------------------------------------------------------------------------
	*/
{% endcomment %}

	{% if not page.custom_fields.facebook_image_url %}
		{% if page.custom_fields.image %}
			<meta property="og:image" content="{{ page.custom_fields.image }}">
		{% endif %}
	{% else %}
		<meta property="og:image" content="{{ page.custom_fields.facebook_image_url }}">
	{% endif %}

	{% if page.custom_fields.facebook_title %}
		<meta property="og:title" content="{{ page.custom_fields.facebook_title }}">
	{% else %}
		<meta property="og:title" content="{{ page.title }} | {% filter ak_text:"org_name" %}{% client_name %}{% endfilter %}">
	{% endif %}
	
	{% if page.custom_fields.facebook_url %}
		<meta property="og:url" content="{{ page.custom_fields.facebook_url }}">
	{% else %}
		<meta property="og:url" content="{{ page.canonical_url }}">
	{% endif %}
	
	{% if page.custom_fields.facebook_description %}
		<meta property="og:description" content="{{ page.custom_fields.facebook_description }}">
	{% else %}
		{% if form.id %}
			<meta name="description" property="og:description" content="{% block description %}{{ page.custom_fields.description|default:form.intro|striptags }}{% endblock %}">
		{% endif %}
	{% endif %}

{% comment %}
	/*
-------------------------------------------------------------------------------
	@END - Facebook Meta Data	
-------------------------------------------------------------------------------
	*/
{% endcomment %}

	{% block meta_additions %}{% endblock %}

	{% block css_additions %}{% endblock %}

	{% load_ak_context context %}

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	{% load_js %}
		/resources/actionkit.js
	{% end %}

	{% block script_additions %}{% endblock %}

	<!-- Font Awesome -->
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- Theme CSS -->
	<link rel="stylesheet" href="https://s3.amazonaws.com/media.fooddemocracynow.org/foundation/css/foundation.css" />
	<link rel="stylesheet" href="https://s3.amazonaws.com/media.fooddemocracynow.org/foundation/css/actionkit.css" />

	<!-- Foundation JS -->   
	<script src="https://s3.amazonaws.com/media.fooddemocracynow.org/foundation/js/modernizr.js"></script>
	
	<!-- jQuery Validation Plugin -->
	<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
	<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/additional-methods.min.js"></script>

	<!-- jQuery Cookie Plugin -->
	<script src="https://s3.amazonaws.com/media.fooddemocracynow.org/foundation/js/jquery.cookie.js"></script>

	<!-- Custom JS -->
	<script src="https://s3.amazonaws.com/media.fooddemocracynow.org/foundation/js/functions.js"></script>
</head>

<body class="{{ filename|split:'.'|nth:0 }}-page lang-{{page.lang.iso_code|default:"unknown"}}{% if page.lang.is_rtl %} ak-rtl{% endif %} ak-no-js {{ page.type }}{% if page.custom_fields.splash_layout %} splash-layout{% endif %}">
	<!-- Required AK JS -->
	<script type="text/javascript">actionkit.forms.initPage()</script>

	<div class="off-canvas-wrap" data-offcanvas>
		<div class="inner-wrap">

			{% if not page.custom_fields.splash_layout %}
				<nav class="mobile-nav-toggle">
					<a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
				</nav> <!-- .mobile-nav-toggle -->

				<!-- Off Canvas Menu -->
				<aside class="left-off-canvas-menu">
					<!-- whatever you want goes here -->
					<ul class="off-canvas-list">
						<li><a href="#">Campaigns</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Press</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Shirts</a></li>
						<li><a href="#">Farmers Vs Monsanto</a></li>
						<li><a href="#">Donate</a></li>
					</ul>
				</aside>
			{% endif %}

			<div class="container">
				{% if page.custom_fields.splash_layout %}
					<div class="splash-header-wrapper">
				{% endif %}

				<div class="header-wrapper row">
					<div id="header" class="large-12 columns">
						<h1 class="hidden">Food Democracy Now!</h1>

						{% if page.custom_fields.splash_layout %}
							<a href="http://www.fooddemocracynow.org"><img src="https://s3.amazonaws.com/media.fooddemocracynow.org/foundation/img/splash_header.png" alt="Logo" title="Food Democracy Now!"></a>
						{% else %}
							<img src="https://s3.amazonaws.com/media.fooddemocracynow.org/foundation/img/header.png" alt="Logo" title="Food Democracy Now!" class="hide-for-small">
							<img src="https://s3.amazonaws.com/media.fooddemocracynow.org/foundation/img/mobile-head.png" alt="Logo" title="Food Democracy Now!" class="show-for-small">
						{% endif %}  
					</div> <!-- #header -->

					{% if not page.custom_fields.splash_layout %}
						<div id="navigation" class="large-12 columns" aria-hidden="true">
							<nav class="top-bar" role="navigation">
								<ul class="title-area">
									<li class="name show-for-small">{% filter ak_text:"org_name" %}{% client_name %}{% endfilter %}</li>
									<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
								</ul> <!-- .title-area -->

								<section class="top-bar-section">
									<ul class="left">
										<li><a href="#">Campaigns</a></li>
										<li><a href="#">Blog</a></li>
										<li><a href="#">Press</a></li>
										<li><a href="#">About</a></li>
										<li><a href="#">Shirts</a></li>
										<li><a href="#">Farmers Vs Monsanto</a></li>
										<li><a href="#">Donate</a></li>
									</ul> <!-- .left -->

									<div class="socmed">
										<a href="#" class="fb"><i class="fa fa-facebook"></i></a>
										<a href="#" class="tw"><i class="fa fa-twitter"></i></a>
									</div> <!-- .socmed -->
								</section> <!-- .top-bar-section -->
							</nav> <!-- .top-bar -->
						</div> <!-- #navigation -->
					{% endif %}
				</div> <!-- .header-wrapper -->

				{% if page.custom_fields.splash_layout %}
					<div class="grass-border"></div> <!-- .grass-border -->
				{% endif %}

				{% if page.custom_fields.splash_layout %}
					</div> <!-- .splash-header-wrapper -->

					<div class="splash-wrapper">
				{% endif %}

				<div class="body-wrapper row">
					<div id="body" class="large-12 columns">
						{% block content %}{% endblock %}
					</div> <!-- #body -->
				</div> <!-- .body-wrapper -->

				{% if page.custom_fields.splash_layout %}
					</div> <!-- .splash-wrapper -->
				{% endif %}

				{% block below_form %}
					<script type="text/javascript">
						actionkit.forms.contextRoot = '/context/';
						actionkit.forms.initForm('act');
					</script>
				{% endblock %}

				<div class="footer-wrapper row">
					<div class="large-6 columns footer-left">
						<a href="http://www.fooddemocracynow.org/privacy/">{{ 'Privacy'|ak_text:'privacy' }}</a> | <a href="http://www.fooddemocracynow.org/contact-us/">{{ 'Contact'|ak_text:'contact' }}</a>
					</div> <!-- .footer-left -->

					<div class="large-6 columns footer-right">
						(c) 2014 <a href="http://www.fooddemocracynow.org/">Food Democracy Now!</a> All rights reserved <span>|</span> <span class="small-credit">Created By <a href="http://www.richiroutreach.com/">Richir Outreach</a></span>
					</div> <!-- .footer-right -->
				</div> <!-- .footer-wrapper --> 
			</div> <!-- .container -->

			<a class="exit-off-canvas"></a>
		</div>
	</div>

	{% if page.custom_fields.splash_layout %}
		<style>
			.splash-wrapper {
				background: url({{ page.custom_fields.splash_layout }}) no-repeat; 
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
			}
		</style>
	{% endif %}

	{% if analytics_key %}
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', '{{ analytics_key }}', 'auto');
			ga('send', 'pageview');
		</script>
	{% endif %}

	<!-- Foundation JS -->
	<script src="https://s3.amazonaws.com/media.fooddemocracynow.org/foundation/js/foundation.min.js"></script>

	<script>
		// Initalize Foundation
		$(document).foundation();
	</script>

{% comment %}
	/*
-------------------------------------------------------------------------------
	@START - GA Event Tracking
-------------------------------------------------------------------------------
	*/
{% endcomment %}

	<script>
		// Global Variable to tell if AK knows who the visitor is or not
		var knownUser = {% if user.email %}true{% else %}false{% endif %};

		$(document).ready(function() {
			// Send GA Event Tracking Info
			ga('send', 'event', 'View', 'Template Used', 'Foundation Templateset');

			ga('send', 'event', 'View', 'Type', '{{ page.type }}');

			// Determine if we are on the thank you page or not
			{% if filename|split:'.'|nth:0 == "thanks" %}
				ga('send', 'event', 'View', 'Step', 'Completed ({{ page.type }})');
				ga('send', 'event', 'View', 'Step', 'Completed ({{ page.id }})');

				if(knownUser) {
					ga('send', 'event', 'View', 'User', 'Completed ({{ user.email }} on {{ page.id }})');
				} else {
					ga('send', 'event', 'View', 'User', 'Completed (Unknown User on {{ page.id }})');
				}
			{% else %}
				ga('send', 'event', 'View', 'Step', 'Ask ({{ page.type }})');
				ga('send', 'event', 'View', 'Step', 'Ask ({{ page.id }})');

				if(knownUser) {
					ga('send', 'event', 'View', 'User', 'Ask ({{ user.email }} on {{ page.id }})');
				} else {
					ga('send', 'event', 'View', 'User', 'Ask (Unknown User on {{ page.id }})');				
				}
			{% endif %}

			// See if this user has visited the site before
			if(typeof $.cookie('user') !== 'undefined') {
				{% if filename|split:'.'|nth:0 == "thanks" %}
					ga('send', 'event', 'View', 'Cookie', 'Completed (' + $.cookie('user') + ' on {{ page.id }})');
				{% else %}
					ga('send', 'event', 'View', 'Cookie', 'Ask (' + $.cookie('user') + ' on {{ page.id }})');
				{% endif %}
			}

			// See if the current user has visited this page before
			{% if filename|split:'.'|nth:0 == "thanks" %}
				if(typeof $.cookie('thanks-{{ page.id }}') === 'undefined') {
					ga('send', 'event', 'View', 'Cookie', 'Unique Completed ({{ page.id }})');
					$.cookie('thanks-{{ page.id }}', 'yes', { expires: 365, path: '/' });
				}
			{% else %}
				if(typeof $.cookie('ask-{{ page.id }}') === 'undefined') {
					ga('send', 'event', 'View', 'Cookie', 'Unique Ask ({{ page.id }})');
					$.cookie('ask-{{ page.id }}', 'yes', { expires: 365, path: '/' });
				}
			{% endif %}

			// Add the email cookie on form submit
			$('#act').submit(function() {
				if(typeof $.cookie('user') === 'undefined') {
					if(knownUser) {
						$.cookie('user', '{{ user.email }}', { expires: 365,  path: '/' });
					} else if ( $('#email').val() != "" ) {
						$.cookie('user', $('#email').val(), { expires: 365, path: '/'});
					}
				}
			});
		});
	</script>
{% comment %}
	/*
-------------------------------------------------------------------------------
	@END - GA Event Tracking
-------------------------------------------------------------------------------
	*/
{% endcomment %}
</body>
</html>
