/*
	--------------------------------------------------------------------------
		Donate Page SASS (donate.html)
	--------------------------------------------------------------------------
*/

form .row.background {
	&.tree {
		background: url(https://s3.amazonaws.com/media.fooddemocracynow.org/foundation/images/tree-background.jpg) no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	&.corn {
		background: url(https://s3.amazonaws.com/media.fooddemocracynow.org/foundation/images/corn-field-bg.png) no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;	
	}
}

.form-column {
	background: rgba(0, 0, 0, 0.75);
	color: white;
	padding: 5rem 1rem;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	min-height: 825px;

	h2 {
		color: $red;
		font-size: 1.5rem;
		font-weight: bold;
	}

	h3 {
		color: $red;
		font-size: 1.5rem;
	}

	input[type="radio"], input[type="checkbox"] {
		display: none;
	}

	label.radio, label.checkbox {
		background: $blue;
		color: white;
		font-weight: bold;
		text-align: center;
		border-radius: 5px;
		padding: 0.5rem;
		font-size: 1.25rem;
		margin: 0.25rem;
		transition: 300ms;
		border: 1px solid darken($blue, 10);

		&:hover {
			background: darken($blue, 10);
			border-color: darken($blue, 20);
		}

		&.checked {
			background: $red;
			border-color: darken($red, 20);
		}
	}

	.amount-other {
		input {
			display: inline-block;
			width: auto;
			margin: 0;
			margin-left: 0.25rem;
			height: auto;
			padding: 3px;
			font-size: 1rem;
		}
	}
}

.page-buttons {
	text-align: center;
	margin-top: 3rem;

	.button {
		&.next, &.prev, &.submit {
			@include nice-button($green);
		}

		&.secondary {
			@include nice-button($blue);
		}
	}
}

.alternate-methods {
	text-align: center;
	margin-top: 1rem;

	.button {
		margin: 0 0.5rem;
		border-radius: 5px;
		display: inline-block;

		&.paypal {
			background-image: -ms-linear-gradient(top, $paypal-top 0%, $paypal-bottom 100%);
			background-image: -moz-linear-gradient(top, $paypal-top 0%, $paypal-bottom 100%);
			background-image: -o-linear-gradient(top, $paypal-top 0%, $paypal-bottom 100%);
			background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $paypal-top), color-stop(1, $paypal-bottom));
			background-image: -webkit-linear-gradient(top, $paypal-top 0%, $paypal-bottom 100%);
			background-image: linear-gradient(to bottom, $paypal-top 0%, $paypal-bottom 100%);

			&:hover {
				background: $paypal-bottom;
			}			
		}

		&.bitcoin {
			background: $bitcoin;

			&:hover {
				background: darken($bitcoin, 10);
			}
		}
	}
}

#type {
	margin-top: 3rem;
}

#id_subscription_consent_box {
	display: none;
	margin-top: 2rem;
}

.image-column {
	text-align: center;

	img {
		padding: 0.5rem;
		border: 1px solid #000;
		background: rgba(255, 255, 255, 0.75);
		margin-top: 10rem;
	}
}

.donate-footer {
	text-align: center;
	padding: 3rem;
	border-top: 1px solid #000;

	p {
		font-size: 0.9rem;
	
		strong {
			font-size: 1.15rem;
		}
	}
}

.splash-layout {
	.page-2, .page-3, .page-4 {
		display: none;
	}

	.user-form, .payment-form {
		.divider {
			font-size: 1.75rem;
			text-align: center;
		}
	}

	.form-error-box-wrapper {
		margin-top: 10rem;
		position: relative;
		text-align: center;

		#ak-errors {
			margin-top: -($column-gutter);
			margin-left: -($column-gutter);

			&:before {
				color: white;
			}

			li {
				color: lighten($red, 20);
				margin: 0;
				margin-left: 1rem;
			}
		}

		.form-error-box {
			text-align: left;
			display: none;
			position: absolute;
			padding: $column-gutter / 2;
			background: rgba(#000, 0.95);
			width: rem-calc(250) + ($column-gutter);
		}
	}
}

@media #{$small-only} {
	.form-column {
		padding-top: 1rem;
		min-height: 0;
	}
	
	.splash-layout {
		.user-form {
			select {
				margin-bottom: 1rem;
			}
		}

		.amount-other label.radio {
			font-size: 1rem;
		}

		.form-error-box-wrapper {
			margin: 0;
			padding: 0;

			img {
				display: none;
			}

			#ak-errors {
				position: relative;
				margin: 0;
				width: 100%;
				border: 2px solid #ff3030;
			}
		}
	}

	.page-buttons  {
		.button.next, .button.prev, .button.secondary {
			width: 40%;

			&.large {
				width: 100%;
			}
		}
	}

	.alternate-methods {
		.button {
			width: 45%;
			padding-left: 0;
			padding-right: 0;
			margin: 0;
		}	
	}
}

@media #{$medium-only} {
	.alternate-methods {
		.button.paypal {
			margin-bottom: 1rem;
		}
	}
}