form .row.background {
	&.tree {
		background: url(https://s3.amazonaws.com/media.fooddemocracynow.org/foundation/images/tree-background.jpg) no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

.form-column {
	background: rgba(0, 0, 0, 0.75);
	color: white;
	padding: 5rem 1rem;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	min-height: 825px;

	h2 {
		color: $red;
		font-size: 1.5rem;
		font-weight: bold;
	}

	h3 {
		color: $red;
		font-size: 1.5rem;
	}

	label {
		color: white;
		font-size: 1rem;
	}

	select {
		margin: 0;
		margin-top: 24px;
	}

	input[type="radio"] {
		display: none;
	}

	label.radio {
		background: $green;
		color: white;
		font-weight: bold;
		text-align: center;
		border-radius: 5px;
		padding: 0.5rem;
		font-size: 1.25rem;
		margin: 0.25rem;
		transition: 300ms;
		border: 1px solid darken($green, 10);

		&:hover {
			background: darken($green, 10);
			border-color: darken($green, 20);
		}

		&.checked {
			background: $blue;
			border-color: darken($blue, 20);
		}
	}

	.amount-other {
		input {
			display: inline-block;
			width: auto;
			margin: 0;
			margin-left: 0.25rem;
			height: auto;
			padding: 3px;
			font-size: 1rem;
		}
	}
}

.page-buttons {
	text-align: center;
	margin-top: 3rem;

	.button {
		&.next, &.prev, &.submit {
			@include nice-button($green);
		}

		&.secondary {
			@include nice-button($blue);
		}
	}
}

.alternate-methods {
	text-align: center;
	margin-top: 1rem;

	.button {
		margin: 0 0.5rem;
		border-radius: 5px;
		display: inline-block;

		&.paypal {
			background-image: -ms-linear-gradient(top, $paypal-top 0%, $paypal-bottom 100%);
			background-image: -moz-linear-gradient(top, $paypal-top 0%, $paypal-bottom 100%);
			background-image: -o-linear-gradient(top, $paypal-top 0%, $paypal-bottom 100%);
			background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $paypal-top), color-stop(1, $paypal-bottom));
			background-image: -webkit-linear-gradient(top, $paypal-top 0%, $paypal-bottom 100%);
			background-image: linear-gradient(to bottom, $paypal-top 0%, $paypal-bottom 100%);

			&:hover {
				background: $paypal-bottom;
			}			
		}

		&.bitcoin {
			background: $bitcoin;

			&:hover {
				background: darken($bitcoin, 10);
			}
		}
	}
}

#type {
	margin-top: 3rem;
}

#id_subscription_consent_box {
	display: none;
	margin-top: 2rem;
}

.image-column {
	text-align: center;

	img {
		padding: 0.5rem;
		border: 1px solid #000;
		background: rgba(255, 255, 255, 0.75);
		margin-top: 10rem;
	}
}

.donate-footer {
	text-align: center;
	padding: 3rem;
	border-top: 1px solid #000;

	p {
		font-size: 0.9rem;
	
		strong {
			font-size: 1.15rem;
		}
	}
}

.splash-layout {
	.page-2, .page-3, .page-4 {
		display: none;
	}

	.user-form, .payment-form {
		label {
			position: absolute;
			padding: 0.5rem 1rem;
			color: $label-color;
			left: 0px;
			z-index: 1;
			font-size: 1rem;
			pointer-events: none;

			&.focus {
				color: rgba($label-color, 0.5);
			}

			&.has-content {
				display: none;

				& + select {
					color: black;
				}
			}

			&.has-error {
				color: $errorColor;

				& + select {
					color: $errorColor;
				}
			}
		}

		input {
			font-size: 1rem;
		}

		select {
			margin: 0;
			height: 38px;
			color: $label-color;
			font-size: 1rem;
			padding-top: 8px;
		}

		.divider {
			font-size: 1.75rem;
			text-align: center;
		}
	}

	.form-error-box-wrapper {
		margin-top: 10rem;
		position: relative;
		text-align: center;

		#ak-errors {
			margin: 0;
			margin-top: -($column-gutter);
			margin-left: -($column-gutter);

			&:before {
				content: "There was a problem with your submission:";
				display: block;
				color: white;
			}

			li {
				margin-left: 1rem;
			}
		}

		.form-error-box {
			text-align: left;
			display: none;
			position: absolute;
			padding: $column-gutter / 2;
			background: rgba(#000, 0.95);
			color: lighten($red, 20);
			width: rem-calc(250) + ($column-gutter);
		}
	}
}
