/*
	--------------------------------------------------------------------------
		Footer SASS (wrapper.html)
	--------------------------------------------------------------------------
*/

.footer-wrapper {
	font-size: 0.7rem;
	font-family: Georgia, serif;
	padding: 0.5rem 0;
	border-top: solid #ddd 1px;
	color: $green;

	a {
		text-decoration: underline;
		color: $green;
		font-weight: bold;

		&:hover {
			color: darken($green, 10);
		}
	}

	.footer-right {
		text-align: right;

		span {
			display: inline;
		}
	}

	@media #{$small-only} {
		.footer-left, .footer-right {
			text-align: center;
			font-size: 1rem;
		}

		.footer-right {
			padding-top: 0.5rem;
		}

		.small-credit {
			display: block;
			padding-top: 1rem;
			font-size: 0.7rem;
		}
	}
}