/*
	--------------------------------------------------------------------------
		Mixins
	--------------------------------------------------------------------------
*/

@mixin nice-button($color) {
	background: $color;
	display: inline-block;
	margin: 0 0.5rem;
	border-radius: 5px;
	color: white;
	border: 1px solid darken($color, 10);
	font-size: 1.15rem;

	&:hover {
		background: darken($color, 10);
		border-color: darken($color, 20);
	}

	@media #{$small-only} {
		width: 100%;
		margin: 0;
		margin-bottom: 2rem;
	}
}

@mixin border-button($color) {
	display: block;
	padding: 0.25rem;
	text-align: center;
	background: $color;
	box-shadow: 1px 1px 5px #aaa;
	color: white;
	text-transform: uppercase;
	border: 1px solid white;
	border-radius: 5px;

	&:hover {
		background-color: darken($color, 10);
	}
}