#navigation {
	padding: 0;
	display: none;

	@media screen and (min-width: 896px) {
		display: block;
	}

	.top-bar {
		border-bottom: 1px solid black;

		@media #{$medium-up} {
			background: url(https://s3.amazonaws.com/Food_Democracy_Now/images/dirt_menu_bg.png);
		
			li {
				background: transparent;

				a {
					background: transparent;
					text-transform: uppercase;
					font-size: 1.15rem;

					&:hover {
						background: transparent;
						color: $gold;
					}
				}
			}
		}

		.name {
			color: white;
			line-height: 45px;
			padding-left: 1rem;		
		}
	}

	.socmed {
		a {
			color: white;
			background: $green;
			border-radius: 500px;
			box-shadow: 0 0 3px #002100 inset;
			display: inline-block;
			margin-top: 6px;
			width: 32px;
			height: 32px;
			color: white;

			&.tw {
				.fa {
					margin-left: 5px;
				}

				&:hover {
					background: $twitter-blue;
				}
			}

			&.fb {
				&:hover {
					background: $facebook-blue;
				}
			}

			.fa {
				font-size: 25px;
				display: block;
				margin-top: 5px;
				margin-left: 8px;
			}
		}
	}
}

.mobile-nav-toggle {
	position: absolute;
	top: 7px;
	left: 7px;
	z-index: 99;

	@media screen and (min-width: 895px) {
		display: none;
	}

	.menu-icon {
		text-indent: 2.1875rem;
		width: 34px;
		height: 34px;
		display: block;
		padding: 0;
		color: #ffffff;
		position: relative;
		transform: translate3d(0, 0, 0);
		background: $green;
		border: 1px solid white;
		border-radius: 5px;

		span::after {
			content: "";
			position: absolute;
			display: block;
			height: 0;
			top: 50%;
			margin-top: -0.5rem;
			left: 8px;
			box-shadow: 0 0px 0 1px #ffffff,0 7px 0 1px #ffffff,0 14px 0 1px #ffffff;
			width: 1rem;
		}
	}
}

/*
#043A04
#81D311

5px
*/