/*
	--------------------------------------------------------------------------
		Petition Page SASS (petition.html)
	--------------------------------------------------------------------------
*/

.petition-page {
	input[type="submit"], input#submit-button {
		@include border-button($green);
	}

	& > .row {
		margin-bottom: 2rem;
	}

	#body {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	.image-column {
		img {
			margin-top: 2rem;
		}
	}

	.top-button {
		text-align: center;
		margin: 0;
		margin-top: 1rem;

		.button {
			@include nice-button($green);

			margin: 0;

			&.small {
				width: auto;
				font-size: 1rem;
				padding: 0.5rem;
			}	
		}
	}
}

.petition-content {
	margin-bottom: 3rem;
}

.petition-box {
	background: $petitionBG;
	border-radius: 8px;
	box-shadow: 3px 3px 6px #9C9C9C;
	padding: 1rem;

	h3 {
		font-size: 2.5rem;
		font-family: $justMe;
	}

	@media #{$small-only} {
		margin-bottom: 2rem;
	}
}

.petition-ask {
	background: none repeat scroll 0 0 white;
	border: 1px solid #E4E4E4;
	border-radius: 8px 8px 8px 8px;
	box-shadow: 3px 3px 6px #9C9C9C;
	padding: 1rem;
	position: relative;

	p {
		font-size: 0.875rem;
	}

	.topper {
		position: absolute;
		top: -52px;
		right: 52px;
	}

	.petition-leadin {
		p {
			color: #999999;
			font-size: 1rem;
		}
	}
}

.mobile-about {
	margin-top: 2rem;
}