.splash-wrapper {
	h2 {
		color: $red;
	}

	.thank-you-text {
		padding: 1rem;
		background: rgba(255, 255, 255, 0.65);
		margin-bottom: 1rem;
		border-radius: 5px;
	}

	.sharebox {
		background: rgba(255, 255, 255, 0.65);	
	}
}