.splash-wrapper {
	h2 {
		color: $red;
	}

	.thank-you-text {
		padding: 1rem;
		background: rgba(255, 255, 255, 0.65);
		margin-bottom: 1rem;
		border-radius: 5px;
	}

	.sharebox, .taf-email-form {
		background: rgba(255, 255, 255, 0.65);
		box-shadow: none;
		border-radius: 5px;

		& > label {
			color: black;
		}
	}
}

@media #{$small-only} {
	.taf-email-form {
		margin: 0;
	}
}
